<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title th:text="${camera.locationDescription}"></title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="/css/foundation.css" rel="stylesheet" type="text/css"/>
<body>
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h1 th:text="${camera.locationDescription}"></h1>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<div class="grid-x grid-padding-x">
					<div class="large-4 medium-6 small-12 cell">
						<h4>Camera</h4>
						<a th:href="@{${camera.adminUrl}}" target="_blank">
							<img id="camera" th:src="@{/snapshot/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						</a>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#camera").attr("src", [[@{/snapshot/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
					<div class="large-4 medium-6 small-12 cell">
						<h4>Average</h4>
						<img id="average" th:src="@{/averageFrame/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#average").attr("src", [[@{/averageFrame/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
					<div class="large-4 medium-6 small-12 cell">
						<h4>Delta</h4>
						<img id="delta" th:src="@{/frameDelta/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#delta").attr("src", [[@{/frameDelta/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
				</div>
			</div>
		</div>
			<div class="large-12 cell">
				<h3>Detections</h3>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Date</th>
							<th>Time</th>
							<th>Magnitude</th>
							<th>Count</th>
							<th>Interpolated</th>
							<th>Weight</th>
							<th>Speed</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detection: ${detections}">
							<td>
								<button class="button" type="button" th:attr="data-toggle=${detection.timestamp}">View</button>
								<div class="dropdown-pane" th:id="${detection.timestamp}" data-dropdown data-hover="true" data-hover-pane="true" data-position="right" data-alignment="center" style="width: 80%;">
									<div class="large-12 cell">
										<div class="grid-x grid-padding-x">
											<div class="large-4 medium-6 small-12 cell">
												<h4>Camera</h4>
												<img th:src="@{/images/{stampedImagePath}(stampedImagePath=${detection.stampedImagePath})}" style="width: 100%;"/>
											</div>
											<div class="large-4 medium-6 small-12 cell">
												<h4>Average</h4>
												<img th:src="@{/images/{averageImagePath}(averageImagePath=${detection.averageImagePath})}" style="width: 100%;"/>
											</div>
											<div class="large-4 medium-6 small-12 cell">
												<h4>Delta</h4>
												<img th:src="@{/images/{deltaImagePath}(deltaImagePath=${detection.deltaImagePath})}" style="width: 100%;"/>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td th:text="${detection.date}"></td>
							<td th:text="${detection.time}"></td>
							<td>
								<th:block th:if="${detection.vectorMotionDetection != null}">
									<span th:text="${detection.vectorMotionDetection.frameVector.magnitude}"></span>
								</th:block>
							</td>
							<td>
								<th:block th:if="${detection.vectorMotionDetection != null}">
									<span th:text="${detection.vectorMotionDetection.frameVector.count}"></span>
								</th:block>
							</td>
							<td>
								<th:block th:if="${detection.vectorMotionDetection != null && detection.vectorMotionDetection.interpolated}">
									<span>Y</span>
								</th:block>
							</td>
							<td th:text="${detection.strongestPersonDetectionWeightString}"></td>
							<td>
								<th:block th:if="${detection.personDetections != null}">
									<span th:text="${detection.personDetections.detectionTimeMilliseconds} + 'ms'"></span>
								</th:block>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/foundation.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
