<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title th:text="${camera.locationDescription}"></title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="/css/foundation.css" rel="stylesheet" type="text/css"/>
<body>
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h1 th:text="${camera.locationDescription}"></h1>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<div class="grid-x grid-padding-x">
					<div class="large-4 medium-6 small-12 cell">
						<h4>Camera</h4>
						<a th:href="@{${camera.adminUrl}}" target="_blank">
							<img id="camera" th:src="@{/snapshot/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						</a>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#camera").attr("src", [[@{/snapshot/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
					<div class="large-4 medium-6 small-12 cell">
						<h4>Average</h4>
						<img id="average" th:src="@{/averageFrame/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#average").attr("src", [[@{/averageFrame/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
					<div class="large-4 medium-6 small-12 cell">
						<h4>Delta</h4>
						<img id="delta" th:src="@{/frameDelta/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#delta").attr("src", [[@{/frameDelta/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12-cell">
				<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" style="width: 100%;">
					<li class="accordion-item" data-accordion-item th:each="detection: ${detections}" style="width: 100%;">
						<a href="#" class="accordion-title" style="width: 100%;">
							<div class="large-12 cell">
								<div class="grid-x grid-padding-x">
									<div class="large-2 medium-2 small-2 cell">
										<p th:text="${detection.date}"></p>
									</div>
									<div class="large-2 medium-2 small-2 cell">
										<p th:text="${detection.time}"></p>
									</div>
									<div class="large-2 medium-2 small-2 cell">
										<th:block th:if="${detection.vectorMotionDetection != null}">
											<p th:text="${detection.vectorMotionDetection.frameVector.magnitude}"></p>
										</th:block>
									</div>
									<div class="large-2 medium-2 small-2 cell">
										<th:block th:if="${detection.vectorMotionDetection != null}">
											<p th:text="${detection.vectorMotionDetection.frameVector.count}"></p>
										</th:block>
									</div>
									<div class="large-2 medium-2 small-2 cell">
										<th:block th:if="${detection.vectorMotionDetection != null && detection.vectorMotionDetection.interpolated}">
											<p>Y</p>
										</th:block>
									</div>
									<div class="large-2 medium-2 small-2 cell">
										<p th:text="${detection.strongestPersonDetectionWeightString}"></p>
									</div>
								</div>
							</div>
						</a>
						<div class="accordion-content" data-tab-content>
							<p>Panel 1. Lorem ipsum dolor</p>
							<a href="#">Nowhere to Go</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="large-12 cell">
				<h3>Detections</h3>
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th>Magnitude</th>
							<th>Count</th>
							<th>Interpolated</th>
							<th>Weight</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detection: ${detections}">
							<td th:text="${detection.date}"></td>
							<td th:text="${detection.time}"></td>
							<td>
								<th:block th:if="${detection.vectorMotionDetection != null}">
									<span th:text="${detection.vectorMotionDetection.frameVector.magnitude}"></span>
								</th:block>
							</td>
							<td>
								<th:block th:if="${detection.vectorMotionDetection != null}">
									<span th:text="${detection.vectorMotionDetection.frameVector.count}"></span>
								</th:block>
							</td>
							<td>
								<th:block th:if="${detection.vectorMotionDetection != null && detection.vectorMotionDetection.interpolated}">
									<span>Y</span>
								</th:block>
							</td>
							<td th:text="${detection.strongestPersonDetectionWeightString}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>
	<script src="/js/vendor.js"></script>
	<script src="/js/foundation.js"></script>
</body>
