<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title th:text="${camera.locationDescription}"></title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="/css/foundation.css" rel="stylesheet" type="text/css"/>
<body>
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h1 th:text="${camera.locationDescription}"></h1>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<div class="grid-x grid-padding-x">
					<div class="large-4 medium-6 small-12 cell">
						<h4>Camera</h4>
						<a th:href="@{${camera.adminUrl}}" target="_blank">
							<img id="camera" th:src="@{/snapshot/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						</a>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#camera").attr("src", [[@{/snapshot/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
					<div class="large-4 medium-6 small-12 cell">
						<h4>Average</h4>
						<img id="average" th:src="@{/averageFrame/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#average").attr("src", [[@{/averageFrame/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
					<div class="large-4 medium-6 small-12 cell">
						<h4>Delta</h4>
						<img id="delta" th:src="@{/frameDelta/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
						<script th:inline="javascript">
						/*<![CDATA[*/
							setInterval(function() {
								$("#delta").attr("src", [[@{/frameDelta/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
							}, 250);
						/*]]>*/
						</script>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-x grid-padding-x" style="margin-bottom: 500px;">
			<div class="large-12 cell">
				<ul class="tabs" data-tabs id="detection-tabs">
					<li class="tabs-title is-active"><a data-tabs-target="previous-detections-tab" href="#previous-detections-tab" aria-selected="true">Previous Detections</a></li>
					<li class="tabs-title"><a data-tabs-target="live-detections-tab" href="#live-detections-tab">Live Detections</a></li>
				</ul>
			</div>
			<div class="large-12 cell">
				<div class="tabs-content" data-tabs-content="detection-tabs">
					<div class="tabs-panel is-active" id="previous-detections-tab">
						<div class="large-12 cell">
							<h3>Previous Detections</h3>
							<table>
								<thead>
									<tr>
										<th></th>
										<th>Date</th>
										<th>Image<br/>Timestamp</th>
										<th>Vector<br/>Timestamp</th>
										<th>Region</th>
										<th>Mag</th>
										<th>Count</th>
										<th>Burst</th>
										<th>Int</th>
										<th>Weight</th>
										<th>Detect<br/>Time</th>
									</tr>
								</thead>
								<tbody id="previous-detections-tbody">
								</tbody>
							</table>
							<a id="load-more" href="#load-more" class="button" style="float: right;" disabled>Load More</a>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="tabs-panel" id="live-detections-tab">
						<div class="large-12 cell">
							<h3>Live Detections</h3>
							<table>
								<thead>
									<tr>
										<th></th>
										<th>Date</th>
										<th>Image<br/>Timestamp</th>
										<th>Vector<br/>Timestamp</th>
										<th>Region</th>
										<th>Mag</th>
										<th>Count</th>
										<th>Burst</th>
										<th>Int</th>
										<th>Weight</th>
										<th>Detect<br/>Time</th>
									</tr>
								</thead>
								<tbody id="live-detections-tbody">
								</tbody>
							</table>
							<a id="clear-all" href="#clear-all" class="alert button" style="float: right;">Clear All</a>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/foundation.js"></script>
	<script src="/js/lazyload.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var camera = [[${camera.name}]];
	/*]]>*/
	</script>
	<script src="/js/detections.js"></script>
</body>
