<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>CCTV Cameras</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="css/foundation.css" rel="stylesheet" type="text/css"/>
<body>
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h1>CCTV Cameras</h1>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<div class="grid-x grid-padding-x">
					<div class="large-4 medium-4 small-4 cell" th:each="camera: ${cameras}">
						<div class="callout">
							<h4 th:text="${camera.locationDescription}"></h4>
							<img th:id="${camera.name}" th:src="@{/snapshot/{name}(name=${camera.name})}"/>
							<script th:inline="javascript">
							/*<![CDATA[*/
								setInterval(function() {
    								$("/*[[${camera.name}]]*/").attr("src", "/*[[@{/snapshot/{name}(name=${camera.name})}]]*/" + new Date().getTime());
								}, 1000);
							/*]]>*/
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/vendor.js"></script>
	<script src="js/foundation.js"></script>
</body>
