<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>CCTV Cameras</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="/css/foundation.css" rel="stylesheet" type="text/css"/>
<body>
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h1>CCTV Cameras</h1>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<div class="grid-x grid-padding-x">
					<div class="large-3 medium-6 small-12 cell" th:each="camera: ${cameras}">
						<h4 th:text="${camera.locationDescription}"></h4>
						<a th:href="@{/camera/{name}(name=${camera.name})}">
							<img th:id="${camera.name}" th:src="@{/snapshot/{name}(name=${camera.name})}" style="width: 100%; margin-bottom: 30px;"/>
							<script th:inline="javascript">
							/*<![CDATA[*/
								setInterval(function() {
    								$([['#' + ${camera.name}]]).attr("src", [[@{/snapshot/{name}(name=${camera.name})}]].replace('\\', '') + "?timestamp=" + new Date().getTime());
								}, 250);
							/*]]>*/
							</script>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/vendor.js"></script>
	<script src="/js/foundation.js"></script>
</body>
